.DS_Store
node_modules
.nuxt
npm-debug.log
.idea
.gitignore
static/android-chrome-192x192.png
static/android-chrome-512x512.png
static/apple-touch-icon-120x120.png
static/apple-touch-icon-152x152.png
static/apple-touch-icon-180x180.png
static/apple-touch-icon-60x60.png
static/apple-touch-icon-76x76.png
static/apple-touch-icon.png
static/browserconfig.xml
static/favicon-16x16.png
static/favicon-32x32.png
static/favicon.ico
static/mstile-150x150.png
static/safari-pinned-tab.svg
static/site.webmanifest
